/pow-implementation.iml
/KeyRegistryWorker.class
/.idea/codeStyles/Project.xml
/KeyRegistryServer.class
/ProcessCreds.class
/.idea/modules.xml
/.idea/misc.xml
/RegisterKeyRequest.class
/StartSystemListener.class
/.idea/uiDesigner.xml
/UnverifiedServer.class
/UnverifiedWorker.class
/Utilities.class
/.idea/vcs.xml
/VerifiedServer.class
/VerifiedWorker.class
/WorkWorker.class
/FlagServer.class
/.idea/codeStyles/codeStyleConfig.xml
/BlockRecord.class
/BlockRecord$BlockRecordBuilder.class
/BlockMetadata.class
/BlockMetadata$BlockMetadataBuilder.class
/BlockData.class
/BlockData$BlockDataBuilder.class
/Blockchain.class
/.idea/.gitignore
/.idea/sonarlint/issuestore/index.pb
src/*.class

/.idea/aws.xml
/out/production/pow-implementation/Blockchain.class
/out/production/pow-implementation/BlockData$BlockDataBuilder.class
/out/production/pow-implementation/BlockData.class
/out/production/pow-implementation/BlockInput0.txt
/out/production/pow-implementation/BlockInput1.txt
/out/production/pow-implementation/BlockInput2.txt
/out/production/pow-implementation/BlockMetadata$BlockMetadataBuilder.class
/out/production/pow-implementation/BlockMetadata.class
/out/production/pow-implementation/BlockRecord$BlockRecordBuilder.class
/out/production/pow-implementation/BlockRecord.class
/out/production/pow-implementation/FlagServer.class
/.idea/libraries/gson_2_8_2.xml
/out/production/pow-implementation/KeyRegistryServer.class
/out/production/pow-implementation/KeyRegistryWorker.class
/out/production/pow-implementation/ProcessCreds.class
/out/production/pow-implementation/RegisterKeyRequest.class
/.idea/runConfigurations.xml
/out/production/pow-implementation/StartSystemListener.class
/out/production/pow-implementation/UnverifiedServer.class
/out/production/pow-implementation/UnverifiedWorker.class
/out/production/pow-implementation/Utilities.class
/out/production/pow-implementation/VerifiedServer.class
/out/production/pow-implementation/VerifiedWorker.class
/out/production/pow-implementation/WorkWorker.class
